<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-exemplo-ng-content>
    Conteúdo passado para o componente.
    <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content> -->

<!-- <app-exemplo-ng-content>
    <div class="titulo">
        <h2>Título do Painel</h2>
    </div>
    <div class="corpo">
        <h4>Conteúdo passado para o componente.</h4>
    </div>
    <div class="corpo">
        <h4>Conteúdo passado para o componente 2.</h4>
    </div>

</app-exemplo-ng-content> -->
<app-diretivas-customizadas></app-diretivas-customizadas>